<div style="float: left;"><img src="/assets/trademarks/img/footer_image.png" style="width: 67px;"></div>

<div style="float: left; font-size: 16px; color: rgb(106, 156, 100); padding-top: 2%; font-weight: 600;"> Please consider the environment before printing this email.<br> 保護環境，打印前想一想。</div>