{%- from "templates/print_formats/trademark_common.html" import common_css, format_address -%}
{{ common_css() }}
<style>
.print-heading {
    display: none
}
</style>
{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%} {% for page in layout %}
<div class="page-break">
    <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
        {{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
    </div>

    {% if print_settings.repeat_header_footer %}
    <div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
        <div class="letter-head-footer">
            {{ footer }}
        </div>
        {% endif %}
        <p class="text-center small page-number visible-pdf">
            {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
    </div>
    {% endif %}
    <!-- Start Content -->
    <div class="print_body_content">
        <!-- Top Static Text -->
        <h1 class="text-uppercase">{{ _("Refusal Report")}}</h1>
        <p>Dear {{ frappe.db.get_value("Customer", doc.customer, "customer_primary_contact") or frappe.db.get_value("Customer",
            doc.customer, "customer_name") or doc.customer or "" }},</p>
        <!-- /Top Static Text -->
        {% if doc.region in ['China', 'Hong Kong'] %}
            {% if doc.region == "Hong Kong" and doc.refusal_reason == "lack of distinctiveness / based on the cited mark(s)" %}
            <br>
            {% set filling_numbers = [] %}
            {% for x in doc.classes %}
            {%  if x.trademark_class_filing_number and x.trademark_class_filing_number not in filling_numbers %}
            {% set filling_numbers = filling_numbers.append(x.trademark_class_filing_number) %}
            {% endif %}
            {% endfor %}
            <p>The {{ doc.region }} Trade Marks Registry refused the subject application &ldquo;{{ doc.project_name }}{% if filling_numbers|len %}, {% endif %} {{ filling_numbers|join(", ") }}&rdquo; due to {{ doc.refusal_reason }}.
                We can file response to argue with the government that our mark is distinguishable. However, I estimate that we have {{ doc.chance_to_arguse or "" }} chance to argue it down.</p>
            <br>
                <p>The official deadline for responding is {% if doc.offcial_deadline %}{{ frappe.utils.getdate(doc.offcial_deadline).strftime("%d %B %Y") or "" }}{% endif %}. If no response or time extension is filed on time, the application will be cancelled. Please let us have your instruction and payment (HK${{ doc.offical_payment or "" }}) by {% if doc.delay_date %}{{ frappe.utils.getdate(doc.delay_date).strftime("%d %B %Y") or "" }} {% endif %} for our timely action.
                If we receive your instruction later than {% if doc.delay_date %}{{ frappe.utils.getdate(doc.delay_date).strftime("%d %B %Y") or "" }}{% endif %}, the total payment will be ${{ doc.delay_payment or ""}}.</p>
            
            <br>
                <p>you have evidence to show that the mark has been used for certain years, the successful rate will increase. In this case, please provide those evidence for our review before {% if doc.evidence_date %}{{ frappe.utils.getdate(doc.evidence_date).strftime("%d %B %Y") or "" }}{% endif %}. Our fee for preparing the argument and responding to the refusal with evidence will be quoted separately.</p>
            {% else %} 
            <br>
            <p>
                The {{ doc.region }} Trade Marks Registry refused the subject application &ldquo;{{ doc.project_name }}&rdquo; due to &ldquo;{{ doc.refusal_reason or "" }}&rdquo;. We can file response to argue with the government that our mark is distinguishable.
            </p>
            {% endif %}
        {% endif %}
        <br>
        <p>Alternatively, you may amend the mark and we can consider to file a new application.</p>
        <br>
        <p>
            <p> If you have any questions, please feel free to contact us. Thank you!</p>
            <br>
            <p>Good day!</p>
            <br>
            <span class="signature">Allison Hung</span><br>
            <span class="company_name">WIPC &minus; Worldwide Intellectual Property Consultancy Limited</span>
            <br> Mong Kok. Tai Kok Tsui. Kwun Tong.
            <br>
            <p>Email: info@wipc.pro</p>
            <br>Tel: (852) 3163-7776
            <br>Mob: (852) 6626-4216 (WhatsApp available)
            <br><br>
            <strong class="condition">PRIVATE & CONFIDENTIAL, FOR AUTHORIZED PERSONNEL ONLY</strong>
        </p>
    </div>
    <!-- End Content -->
</div>
{% endfor %}