{%- from "templates/print_formats/standard_macros.html" import add_header -%}
{%- from "templates/print_formats/trademark_common.html" import filling_info, common_css, format_address -%}
{{ common_css() }}
{% for page in layout %}
<div class="page-break">
	<div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
		{{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
	</div>

	{% if print_settings.repeat_header_footer %}
	<div id="footer-html" class="visible-pdf">
		{% if not no_letterhead and footer %}
		<div class="letter-head-footer">
			{{ footer }}
		</div>
		{% endif %}
		<p class="text-center small page-number visible-pdf">
			{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
		</p>
	</div>
	{% endif %}
	<!-- Start Content -->
	<div class="print_body_content">
		<!-- Top Static Text -->
		<h1 class="text-uppercase">Registration Report</h1>
		<p>Dear {{ frappe.db.get_value("Customer", doc.customer, "customer_primary_contact") or frappe.db.get_value("Customer",
			doc.customer, "customer_name") or doc.customer or "" }},</p>

		<p>We are happy to tell you that the following trademark(s) have been registered successfully. Please see the registration
			details in the following:</p>
		<!-- /Top Static Text -->
		<p class="report_header">
			{{doc.region}} Trademark Application {% if doc.region=="Hong Kong" and doc.classes|length %}(Our Ref: {{ doc.classes[0].trademark_class_reference or "" }})
			{% endif %}
		</p>
		<p>
			<strong> Registrant name (English):</strong> {{ frappe.db.get_value("Customer", doc.customer, "customer_name") }} <br>
			<strong> Registrant address (English): </strong> {{ format_address(doc.get_address) }}
			<br>
			<strong>Mark:</strong> {{doc.project_name}}
			{{ filling_info(doc.classes) }}
		</p>
		{%if doc.image %} <p><img class="trademark_image" src="{{doc.image}}"> </p> {% endif %}
		<hr> {%- for row in doc.classes -%}
		<div> <strong> {{ _("Specification of class") }} {{ row.trademark_class }} {% if doc.region != "Hong Kong" %} {{ row.trademark_class_reference or "" }} {% endif %}: </strong> <br>{{ row.trademark_class_description }}</div>
		<br> {%- endfor -%}
		<br><br>
		<!-- Bottom Static Text -->
		<p class="text-align:justify">The above trademark(s) can be renewed every 10 years with paying renewal fees before the
			expiry date. It is important to note that the registration would be vulnerable if the mark is non-use or be used improperly.
			Furthermore, it is our pleasure but it could not be our obligation to remind you of the renewal. Please be reminded once
			again that informing us your updated contact information is important.<br>


			<p> If you have any questions, please feel free to contact us. Thank you!</p>
			<br>
			<p>Good day!</p>
			<br>
			<span class="signature">Allison Hung</span><br>
			<span class="company_name">WIPC &minus; Worldwide Intellectual Property Consultancy Limited</span>
			<br> Mong Kok. Tai Kok Tsui. Kwun Tong.
			<br>
			<p>Email: info@wipc.pro</p>
			<br>Tel: (852) 3163-7776
			<br>Mob: (852) 6626-4216 (WhatsApp available)
			<br><br>
			<strong class="condition">PRIVATE & CONFIDENTIAL, FOR AUTHORIZED PERSONNEL ONLY</strong>
		</p>
		<!-- Bottom Static Text -->

	</div>
	<!-- End Content -->
</div>
{% endfor %}