{%- from "templates/print_formats/standard_macros.html" import add_header -%}
{%- from "templates/print_formats/trademark_common.html" import filling_info, common_css, format_address -%}
{{ common_css() }}
{% for page in layout %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<div class="page-break">
    <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
		{{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
	</div>

	{% if print_settings.repeat_header_footer %}
	<div id="footer-html" class="visible-pdf">
		{% if not no_letterhead and footer %}
		<div class="letter-head-footer">
			{{ footer }}
		</div>
		{% endif %}
		<p class="text-center small page-number visible-pdf">
			{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
		</p>
	</div>
	{% endif %}
	<!-- Start Content -->
	<div class="print_body_content">
		<!-- Top Static Text -->
		<h1 class="text-uppercase">{{ _("Quotation") }}</h1>
		<!-- <p>Dear {{ frappe.db.get_value("Customer", doc.customer, "customer_primary_contact") or frappe.db.get_value("Customer",
            doc.customer, "customer_name") or doc.customer or "" }},</p> -->
    </div>
    <div style="margin: 10px">
        <!-- /Top Static Text -->
        {% set lan_code = "zh-TW" %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> {{ _("No") }} </th>
                    <th> {{ _("Regions, Protection period & Notarization fee [if any]", lan_code)}} <br> Regions, Protection period & Notarization fee [if any] </th>
                    <th> {{ _("Application for 1st class", lan_code) }} <br> Application for 1st class</th>
                    <th> {{ _("Application for each additional class", lan_code) }} <br> Application for each additional class </th>
                    <th> {{ _("Registration for 1st class", lan_code) }} <br> Registration for 1st class </th>
                    <th> {{ _("Registration for each additional class", lan_code) }} <br> Registration for each additional class </th>
                    <th> {{ _("Application time", lan_code) }} <br> Application time </th>
                </tr>
            </thead>
            <tbody>
                {% for row in  doc.items %}
                <tr>
                    <td>{{ _(loop.index) }}</td>
                    <td>
                        {{ row.region or "" }}
                        {% if row.protection_period %} 
                        ({{ row.protection_period }} {{ _("years", lan_code)}} years)
                        {% endif %}
                        {% if row.notarization_fee %} 
                            <br>
                            {{ row.notarization_fee}}
                        {% endif %}
                    </td>
                    <td>{{ row.application_for_1st_class or "" }}</td>
                    <td>{{ row.application_for_each_additional_class or "" }}</td>
                    <td>{{ row.registration_for_1st_class or "" }}</td>
                    <td>{{ row.registration_for_each_additional_class or "" }}</td>
                    <td>
                        {%- if row.application_time -%}
                            {{ row.application_time or "" }}
                            {{ _("months", lan_code) }} months
                        {%- endif -%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Bottom Static Text -->
        <!-- <strong>{{ _("Important Notice") }}</strong>
        <p class="text-align:justify">In a smooth scenario, we will send you at least 2 reports after filing. Firstly, &ldquo;Filing Report&rdquo;, which includes official filing number, official filing date and other filed information. Secondly, &ldquo;Successful Registered Report&rdquo;, which includes delivery of the registration certificate by registered mail (or other proper means). In particular regions, even for a smooth scenario, more reports would be needed for separated publication and/or registration step(s) etc. Therefore, informing us your updated contact information is important.</p><br>
        <p class="text-align:justify">Please note that if there is query, refusal or opposition is raised by the government or the public, we will contact you and if you confirm to file response or time extension etc., there would be extra cost. For the minor/reasonable request of amendment, we will file proper response without further notice and charge on you. Please note that a case may be cancelled if fail to file such response or time extension on time.</p><br>
        <p class="text-align:justify">For your information, worldwide speaking, it generally takes 3 months to a year for registering design, 1 to 3 years for registering trademark, 1 to 5 years for registering patent.</p>
		<p class="text-align:justify">
			<p> If you have any questions, please feel free to contact us. Thank you!</p>
			<br>
			<p>Good day!</p>
			<br>
			<span class="signature">Allison Hung</span><br>
			<span class="company_name">WIPC &minus; Worldwide Intellectual Property Consultancy Limited</span>
			<br> Mong Kok. Tai Kok Tsui. Kwun Tong.
			<br>
			<p>Email: info@wipc.pro</p>
			<br>Tel: (852) 3163-7776
			<br>Mob: (852) 6626-4216 (WhatsApp available)
			<br><br>
			<strong class="condition">PRIVATE & CONFIDENTIAL, FOR AUTHORIZED PERSONNEL ONLY</strong>
		</p> -->
		<!-- Bottom Static Text -->

	</div>
	<!-- End Content -->
</div>
{% endfor %}