<style>
    .print-format h1,
    .print-format h2,
    .print-format h3,
    .print-format h4,
    .print-format h5,
    .print-format h6,
    .print-format .h1,
    .print-format .h2,
    .print-format .h3,
    .print-format .h4,
    .print-format .h5,
    .print-format .h6 {
        font-family: "Times", serif;
        font-weight: 600;
    }

    .print-format h1,
    .print-format .h1 {
        font-size: 32px
    }

    .print-format {
        padding: 0;
    }

    .report_header {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0 10px 0 !important;
    }

    .trademark_image {
        width: 200px;
    }

    td {
        width: 200px;
    }

    table,
    th,
    td {
        padding: 40px;
        border: 1px solid black;
    }

    .signature,
    .company_name {
        font-size: 18px;
        font-weight: bold;
        font-family: "Times", serif;
    }

    .letter_header {
        font-family: "Times", serif;
    }

    .print_body_content {
        padding: .3in .5in 0in .6in;
    }

    .letter-head-footer {
        padding: .0in .5in 0in .6in;
    }

    p {
        font-size: 8pt;
    }

    .condition {
        font-size: 12px;
    }
</style>

{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%} {% for page in layout %}
<div class="page-break">
    <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
        {{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
    </div>

    {% if print_settings.repeat_header_footer %}
    <div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
        <div class="letter-head-footer">
            {{ footer }}
        </div>
        {% endif %}
        <p class="text-center small page-number visible-pdf">
            {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
    </div>
    {% endif %}
    <!-- Start Content -->
    <div class="print_body_content">
        <!-- Top Static Text -->
        <h1 class="text-uppercase">{{ _("Outstanding Required Information Report") }}</h1>
        <p><br><br>
            {{frappe.utils.get_datetime(frappe.utils.nowdate()).strftime('%d %b %Y')}}<br><br>
            Dear Sir / Madam,
            <br><br>
            Please check the outstanding required information in the following and provide accordingly. Thank you!
        </p>

        <!-- /Top Static Text -->

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:80%">{{ _("Document") }}</th>
                    <th style="width:20%"></th>
                </tr>
            </thead>
            <tbody>
                {%- for document in doc.get_documents -%}
                <tr>
                    <td>{{ document }}</td>
                    <td class="text-center"><i class="fa fa-{% if document in doc.get_existing_documents %}check {% else %}times {% endif %}"></i></td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>


        <p>
            <p> If you have any questions, please feel free to contact us. Thank you!</p>
            <br>
            <p>Thank you!</p>
            <br>
            <!-- <span class="signature">Allison Hung</span><br> -->
            <span class="company_name">WIPC &minus; Worldwide Intellectual Property Consultancy Limited</span>
            <!-- <br> Mong Kok. Tai Kok Tsui. Kwun Tong.
            <br>
            <p>Email: info@wipc.pro</p>
            <br>Tel: (852) 3163-7776
            <br>Mob: (852) 6626-4216 (WhatsApp available)
            <br><br>
            <strong class="condition">PRIVATE & CONFIDENTIAL, FOR AUTHORIZED PERSONNEL ONLY</strong> -->
        </p>

    </div>
    <!-- End Content -->
</div>
{% endfor %}