{%- from "templates/print_formats/trademark_common.html" import common_css, format_address -%}
{{ common_css() }}
{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%} {% for page in layout %}
<div class="page-break">
    <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
        {{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
    </div>

    {% if print_settings.repeat_header_footer %}
    <div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
        <div class="letter-head-footer">
            {{ footer }}
        </div>
        {% endif %}
        <p class="text-center small page-number visible-pdf">
            {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
    </div>
    {% endif %}
    <!-- Start Content -->
    <div class="print_body_content">
        <!-- Top Static Text -->
        <h1 class="text-uppercase">Confirmation Letter</h1>
        <p>Dear {{ frappe.db.get_value("Customer", doc.customer, "customer_primary_contact") or frappe.db.get_value("Customer",
            doc.customer, "customer_name") or doc.customer or "" }},</p>
        <!-- /Top Static Text -->
        <p class="report_header">
            {{doc.region}} Trademark Application {% if doc.region=="Hong Kong" and doc.classes|length %}(Our Ref: {{ doc.classes[0].trademark_class_reference or "" }}) {% endif %}
        </p>
        <p>
            <strong> Registrant name (English):</strong> {{ frappe.db.get_value("Customer", doc.customer, "customer_name")
            }} <br>
            <strong> Registrant address (English): </strong> {{ format_address(doc.get_address) }}
            <br>
            <strong>Mark:</strong> {{doc.project_name}}
        </p>
        <p>
            <b>Class(es): </b>{%- for row in doc.classes -%} {{ row.trademark_class|replace("HK", "")|int }}{% if not loop.last
            %}, {% endif %} {%- endfor -%}<br><br> {%if doc.image %} <img class="trademark_image" src="{{doc.image}}"> {%
            endif %}
        </p>

        <p>
            <hr> {%- for row in doc.classes -%}
            <div> <strong> {{ _("Specification of class") }} {{ row.trademark_class }} {% if doc.region != "Hong Kong" %} {{ row.trademark_class_reference or "" }} {% endif %}: </strong> <br>{{ row.trademark_class_description }}</div>
            <br> {%- endfor -%}
        </p>

        <p>
            <p> If you have any questions, please feel free to contact us. Thank you!</p>
            <br>
            <p>Good day!</p>
            <br>
            <span class="signature">Allison Hung</span><br>
            <span class="company_name">WIPC &minus; Worldwide Intellectual Property Consultancy Limited</span>
            <br> Mong Kok. Tai Kok Tsui. Kwun Tong.
            <br>
            <p>Email: info@wipc.pro</p>
            <br>Tel: (852) 3163-7776
            <br>Mob: (852) 6626-4216 (WhatsApp available)
            <br><br>
            <strong class="condition">PRIVATE & CONFIDENTIAL, FOR AUTHORIZED PERSONNEL ONLY</strong>
        </p>
    </div>
    <!-- End Content -->
</div>
{% endfor %}