<style>
    .print-format h1, .print-format h2, .print-format h3, .print-format h4, .print-format h5, .print-format h6, .print-format .h1, .print-format .h2, .print-format .h3, .print-format .h4, .print-format .h5, .print-format .h6 {
        font-family: "Times", serif;
        font-weight: 600;
    }
    .print-format h1, .print-format .h1 {
        font-size: 32px
    }

    .print-format {
        padding: 0;
    }

    .report_header {
        font-size: 16px;
        font-weight: bold;
		margin: 20px 0 10px 0 !important;
    }

    .trademark_image {
        width: 200px;
    }

    td {
        width: 200px;
    }

    table,
    th,
    td {
        padding: 40px;
        border: 1px solid black;
    }

    .signature,
    .company_name {
        font-size: 18px;
        font-weight: bold;
        font-family: "Times", serif;
    }

    .letter_header {
        font-family: "Times", serif;
    }

    .print_body_content {
        padding: .3in .5in 0in .6in;
    }

    .letter-head-footer {
        padding: .0in .5in 0in .6in;
    }

    p {
        font-size: 8pt;
    }
	.condition {
		font-size: 12px;
	}
</style>

{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%} {% for page in layout %}
<div class="page-break">
    <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
        {{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
    </div>

    {% if print_settings.repeat_header_footer %}
    <div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
        <div class="letter-head-footer">
            {{ footer }}
        </div>
        {% endif %}
        <p class="text-center small page-number visible-pdf">
            {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
    </div>
    {% endif %}
    <!-- Start Content -->
    <div class="print_body_content">
        <!-- Top Static Text -->
        <h1 class="text-uppercase">Search Report (Basic)</h1>
        <p>Dear {{ frappe.db.get_value("Customer", doc.customer, "customer_primary_contact") or frappe.db.get_value("Customer",
            doc.customer, "customer_name") or doc.customer or "" }},</p>

        <p>Here is our trademark search result summary, please also see the results as attached pdf(s) for your reference.
            Just let me know if you have any question. Thank you!</p>
        <!-- /Top Static Text -->
        <br>
        <p class="report_text report_header">Trademark Search Result Summary &minus; As of {% if doc.chance_as_of %}{{ frappe.utils.get_datetime(doc.chance_as_of).strftime('%d
            %b %Y') }} {% endif %} </p>

        <table>

            <tr>
                <th><b>Trademark & Class</b>
                </th>
                <th><b>{{ doc.region }}</b>
                </th>
            </tr>

            <tr>
                <td>{%if doc.image %} <img class="trademark_image" src="{{doc.image}}"> {% endif %}<br>
                    <b>{{doc.major_goods_services}}</b>
                </td>
                <td><b>{{doc.chance}} chance to be registered.</b>
                </td>
            </tr>
        </table>

        <!-- Bottom Static Text -->
        <br><br>
        <p class="report_text report_header">Disclaimer</p>

        <p class="report_text">We would like to draw your attention that the search for identical and similar trademarks,
            which have been either registered or for which applications are currently pending, may contain errors and omission
            in the Trademark Office. Also, recently filed trade-mark applications are not available to the public and cannot
            be searched until they are indexed. Furthermore, we cannot deny the possibility that our view of the similarity
            and distinctiveness may differ from that of the Examiner of the Trademark Office. Additionally, applicants from
            other jurisdictions can apply for a trademark application in your target area within six months of the date of
            the initial filing thus gain the benefit of the priority period.</p>
        <p class="text-align:justify">
            <br><br>
            <span class="signature">Allison Hung</span><br>
            <span class="company_name">WIPC &minus; Worldwide Intellectual Property Consultancy Limited</span>
            <br> Mong Kok. Tai Kok Tsui. Kwun Tong.
            <br>
            <p>Email: info@wipc.pro</p>
            <br>Tel: (852) 3163-7776
            <br>Mob: (852) 6626-4216 (WhatsApp available)
            <br><br>
            <strong class="condition">PRIVATE & CONFIDENTIAL, FOR AUTHORIZED PERSONNEL ONLY</strong>
        </p>
        <br>
        <p>
            This email is confidential and may be legally privileged. If you received it in error, please notify us immediately. If you
            are not the intended recipient you should not copy it, disclose its contents to others, or use it for any purpose.</p>
        <!-- Bottom Static Text -->

    </div>
    <!-- End Content -->
</div>
{% endfor %}