{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%} {% for page in layout %}
<style>
    .print-heading {
        display: none;
    }

    .title {
        font-family: 'Times', serif;
        font-size: 32px;
        font-weight: 701;
    }

    .customer-group {
        font-size: 22px;
    }

    .font-16 {
        font-size: 16px;
    }

    .font-12 {
        font-size: 12px;
    }
</style>
<div class="page-break">
    <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
        {{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
    </div>

    {% if print_settings.repeat_header_footer %}
    <div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
        <div class="letter-head-footer">
            {{ footer }}
        </div>
        {% endif %}
        <p class="text-center small page-number visible-pdf">
            {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
    </div>
    {% endif %}
    <!-- Start Content -->
    <div class="print_body_content">
        <h1 class="title text-uppercase">{{ _("Status Report") }}</h1>
        {% for group, cst_obj in doc.status_data().iteritems() %}
        <div class="customer-group">{{ group or "" }}</div>
        {% for cus_key, customer in cst_obj.iteritems() %}
        <div class="font-16">{{ customer.customer_name or "" }}</div>
        {% for reg_key, region in customer.region.iteritems() %}
        <p class="font-12">{{ region.region_name or "" }}</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="30%">{{ _("Trademark") }}</th>
                    <th>{{ _("Status") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tr_key, trademark in region.trademarks.iteritems() %}
                <tr>
                    <td> <img style="max-with:100%" src="{{ trademark.image }}" alt="{{ trademark.project_name or '' }}">
                    </td>
                    <td>
                        {% for fl_key, filing in trademark.filings.iteritems() %}
                        {% if filing.classes|length %}
                        {{ _("Class") }}: {{ filing.classes|join(", ") or "" }}<br>
                        {% endif %}
                        {% if filing.filing_number %}
                        {{ _("Filing Number") }}: {{ filing.filing_number or "" }} {% if filing.class_status|length %} <strong>({{
                            filing.class_status|join(", ") or "" }})</strong> {% endif %} <br>
                        {% endif %}
                        {% if filing.filing_date %}
                        {{ _("Filing Date") }}: {{ frappe.utils.getdate(filing.filing_date).strftime("%d %B %Y") or ""
                        }} <br>
                        {% endif %}
                        {% if filing.class_reference %}
                        {{ _("Our ref") }}: {{ filing.class_reference or "" }} <br>
                        {% endif %}
                        <br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </div>
    <!-- End Content -->
</div>
{% endfor %}