{%- macro filling_info(classes, width_reg=1, with_exp=1) -%}
    {% set filing = {} %}
    {%- for row in classes -%}
        {%- if filing[row.trademark_class_filing_number]-%}
            {% set _dummy = filing[row.trademark_class_filing_number].classes.append(row.trademark_class|replace("HK", "")|int) %}
        {%- else -%}
            {% set _dummy = filing.update({row.trademark_class_filing_number: {"classes":[row.trademark_class|replace("HK", "")|int],
             "filing_date": row.trademark_class_filing_date, "filing_number": row.trademark_class_filing_number,
              "registration_number": row.trademark_class_registration_number, "expiry_date": row.trademark_class_expiry_date,
               "registration_date": row.trademark_class_registration_date}}) %}
        {%- endif -%}
    {%- endfor -%}
    {%- for key, row in filing.iteritems() -%}
        <br>
        {% if row.classes|length %}
            <strong>{{ _("Class") }}:</strong> {{ row.classes|join(' and ') or "" }} <br>
        {% endif %}
        {% if row.filing_number %}
            <strong>{{ _("Filing number") }}:</strong> {{ row.filing_number or "" }}<br>
        {% endif %}
        {% if row.filing_date %}
            <strong>{{ _("Filing date") }}:</strong> {{ frappe.utils.getdate(row.filing_date).strftime("%d %B %Y") or "" }} <br>
        {% endif %}
        {% if width_reg %}
            {% if row.registration_number %}
                <strong>{{ _("Registration number") }}:</strong> {{ row.registration_number or "" }} <br>
            {% endif %}
            {% if row.registration_date %}
                <strong>{{ _("Registration date") }}:</strong> {{ frappe.utils.getdate(row.registration_date).strftime("%d %B %Y") or "" }} <br>
            {% endif %}
        {% endif %}
        {% if row.expiry_date and with_exp %}
            <strong>{{ _("Expiry date") }}:</strong> {{ frappe.utils.getdate(row.expiry_date).strftime("%d %B %Y") or "" }} <br>
        {% endif %}
    {%- endfor -%}
{%- endmacro -%}

{%- macro format_address(data) -%}
    {% if data %}
        {{ data.address_line1 or "" }} {{ data.address_line2 or "" }} {{ data.city or "" }}  {{ data.county or "" }} 
        {{ data.state or "" }} {{ data.state or "" }} {{ data.pincode or "" }} {{ data.country or "" }}
    {% endif %}
{%- endmacro -%}

{%- macro common_css() -%}
<style>
	.print-format h1, .print-format h2, .print-format h3, .print-format h4, .print-format h5, .print-format h6, .print-format .h1, .print-format .h2, .print-format .h3, .print-format .h4, .print-format .h5, .print-format .h6 {
        font-family: "Times", serif;
        font-weight: 600;
    }
    .print-format h1, .print-format .h1 {
        font-size: 32px
    }
	.print-format {
		padding: 0;
	}

	.report_header {
		font-size: 16px;
		font-weight: bold;
		margin: 20px 0 10px 0 !important;
	}

	.signature, .company_name {
		font-size: 18px;
		font-weight: bold;
		font-family: "Times", serif;
	}

	.letter_header {
		font-family: "Times", serif;
	}

	.print_body_content {
		padding: .3in .5in 0in .6in;
	}
	.letter-head-footer {
		padding: .0in .5in 0in .6in;
	}

	p {
		font-size: 8pt;
	}
	.condition {
		font-size: 12px;
	}

</style>
{%- endmacro -%}